@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-selection {
  background: rgba(132, 177, 17, 0.432);
}
::selection {
  background: rgba(132, 177, 17, 0.432);
}

button::selection {
  background-color: rgba(255, 171, 2, 0.637);
}

.hexagonal {
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.border-radius-fancy {
  border-radius: 66% 34% 86% 14% / 84% 40% 60% 16%;
}

.html-text p {
  @apply max-w-sm text-sm leading-6 text-gray-100;
}

.html-text a {
  @apply font-bold text-cyan-600 underline;
}


